/ Side-by-side diff view
- old_lines, new_lines = parallel_diff_lines(project, @commit, diff, file)
- num_lines = old_lines.length

%div.text-file-parallel
  %div.diff_side.diff_side_left
    %table
      - old_lines.each do |line|

        %tr.line_holder.parallel
          - if line.type == :file_created
            %td.line_content.parallel= "File was created"
          - elsif line.type == :deleted
            %td.line_content{class: "parallel noteable_line old #{line.code}", "line_code" => line.code }= line.content
          - else line.type == :no_change
            %td.line_content.parallel= line.content

  %div.diff_middle
    %table
      - num_lines.times do |index|
        %tr
          - if old_lines[index].type == :deleted
            %td.old_line.old
              = old_lines[index].num
              - if @comments_allowed
                =# render "projects/notes/diff_note_link", line_code: old_lines[index].code
          - else
            %td.old_line= old_lines[index].num

          %td.diff_line=""

          - if new_lines[index].type == :added
            %td.new_line.new
              = new_lines[index].num
              - if @comments_allowed
                =# render "projects/notes/diff_note_link", line_code: new_lines[index].code
          - else
            %td.new_line= new_lines[index].num

  %div.diff_side.diff_side_right
    %table
      - new_lines.each do |line|

        %tr.line_holder.parallel
          - if line.type == :file_deleted
            %td.line_content.parallel= "File was deleted"
          - elsif line.type == :added
            %td.line_content{class: "parallel noteable_line new #{line.code}", "line_code" => line.code }= line.content
          - else line.type == :no_change
            %td.line_content.parallel= line.content

-#- if @reply_allowed
-#  - comments1 = []
-#  - comments2 = []
-#  - comments1 = @line_notes.select { |n| n.line_code == deleted_line[:line_code] }.sort_by(&:created_at) if deleted_line
-#  - comments2 = @line_notes.select { |n| n.line_code == added_line[:line_code] }.sort_by(&:created_at) if added_line
-#  - unless comments1.empty? && comments2.empty?
-#    = render "projects/notes/diff_notes_with_reply_parallel", notes1: comments1, notes2: comments2, line1: deleted_line, line2: added_line

:javascript
  $('.diff_side_right').on('scroll', function(){
    $(this).siblings('.diff_side_left, .diff_middle').scrollTop($(this).scrollTop());
    $(this).siblings('.diff_side_left').scrollLeft($(this).scrollLeft());
  });

  $('.diff_side_left').on('scroll', function(){
    $(this).siblings('.diff_side_right, .diff_middle').scrollTop($(this).scrollTop()); // might never be relevant
    $(this).siblings('.diff_side_right').scrollLeft($(this).scrollLeft());
  });
