%h4
  #{@search_results[:total_results]} results found
  - if @project
    for #{link_to @project.name_with_namespace, @project}
  - elsif @group
    for #{link_to @group.name, @group}

%hr

- if @project
  = render "project_results"
- else
  = render "global_results"

- tokens = @search_tokens

:javascript
  var tokens = #{tokens.to_json}
  tokens.forEach(function(token){
    if(token[0] == '-') return;
    $(".search_results .term").highlight(token);
  });
